
<div class="docslot" id="abs"><span style="padding-left:19px; font-weight:900">abs</span> &mdash; Return non-negative copy of the rational number.</div>
<div class="docslot" id="invert"><span style="padding-left:19px; font-weight:900">invert</span> &mdash; Switch the numerator and denominator.</div>
<div class="docslot" id="inversion"><span style="padding-left:19px; font-weight:900">inversion</span> &mdash; Alias for getInversion method.</div>
<div class="docslot" id="getInversion"><span style="padding-left:19px; font-weight:900">getInversion</span> &mdash; Return a reciprocal copy of called object.</div>
<div class="docslot" id="negate"><span style="padding-left:19px; font-weight:900">negate</span> &mdash; Make positive values negative and vice-versa.</div>
<div class="docslot" id="negation"><span style="padding-left:19px; font-weight:900">negation</span> &mdash; Alias of getNegation method.</div>
<div class="docslot" id="getNegation"><span style="padding-left:19px; font-weight:900">getNegation</span> &mdash; Return a copy of the object, with sign reversed.</div>
<div class="docslot" id="addTo"><span style="padding-left:19px; font-weight:900">addTo</span> &mdash; To this RationalNumber, add additional numbers.</div>
<div class="docslot" id="add"><span style="padding-left:19px; font-weight:900">add</span> &mdash; Similar to addTo(), but returns sum rather than altering contents.</div>
<div class="docslot" id="subtractTo"><span style="padding-left:19px; font-weight:900">subtractTo</span> &mdash; To this RationalNumber, subtract values.</div>
<div class="docslot" id="subtract"><span style="padding-left:19px; font-weight:900">subtract</span> &mdash; Similar to subtractTo(), but returns result rather than altering calling object.</div>
<div class="docslot" id="multiplyTo"><span style="padding-left:19px; font-weight:900">multiplyTo</span> &mdash; To this RationalNumber, multiply values.</div>
<div class="docslot" id="multiply"><span style="padding-left:19px; font-weight:900">multiply</span> &mdash; Similar to multiplyTo(), but returns result rather than altering calling object.</div>
<div class="docslot" id="divideTo"><span style="padding-left:19px; font-weight:900">divideTo</span> &mdash; To this RationalNumber, divide values.</div>
<div class="docslot" id="divide"><span style="padding-left:19px; font-weight:900">divide</span> &mdash; Similar to divideTo(), but returns result rather than altering calling object.</div>


