
<div class="docslot" id="setSign"><span style="padding-left:19px; font-weight:900">setSign</span> &mdash; Set the sign to positive or negative.</div>
<div class="docslot" id="getSign"><span style="padding-left:19px; font-weight:900">getSign</span> &mdash; Returns &ndash;1 if negative, +1 otherwise.</div>
<div class="docslot" id="getNumerator"><span style="padding-left:19px; font-weight:900">getNumerator</span> &mdash; Return the numerator, including sign.</div>
<div class="docslot" id="getNumeratorAbsoluteValue"><span style="padding-left:19px; font-weight:900">getNumeratorAbsoluteValue</span> &mdash; Return the numerator, excluding sign.</div>
<div class="docslot" id="getDenominator"><span style="padding-left:19px; font-weight:900">getDenominator</span> &mdash; Return the denominator (always positive).</div>
<div class="docslot" id="setNumeratorNoReduce"><span style="padding-left:19px; font-weight:900">setNumeratorNoReduce</span> &mdash; Set the numerator but don't reduce fraction.</div>
<div class="docslot" id="setNumerator"><span style="padding-left:19px; font-weight:900">setNumerator</span> &mdash; Set the numerator, reducing if necessary.</div>
<div class="docslot" id="setNumeratorAbsoluteValueNoReduce"><span style="padding-left:19px; font-weight:900">setNumeratorAbsoluteValueNoReduce</span> &mdash; Sets numerator without changing sign or reducing.</div>
<div class="docslot" id="setDenominatorAbsoluteValue"><span style="padding-left:19px; font-weight:900">setDenominatorAbsoluteValue</span> &mdash; Set the denominator (sign ignored).</div>
<div class="docslot" id="setDenominatorAbsoluteValueNoReduce"><span style="padding-left:19px; font-weight:900">setDenominatorAbsoluteValueNoReduce</span> &mdash; Set denominator, not trying to reduce.</div>
<div class="docslot" id="reduce"><span style="padding-left:19px; font-weight:900">reduce</span> &mdash; Reduce the fraction if needed.</div>
<div class="docslot" id="setValue"><span style="padding-left:19px; font-weight:900">setValue</span> &mdash; Set the numerator and denominator (sign can be on either or both).</div>
<div class="docslot" id="setValueNoReduce"><span style="padding-left:19px; font-weight:900">setValueNoReduce</span> &mdash; Set the numerator and denominator, but don't try to reduce.</div>
<div class="docslot" id="isSafe"><span style="padding-left:19px; font-weight:900">isSafe</span> &mdash; Numerator and denominator less than 2^53.</div>
<div class="docslot" id="isNan"><span style="padding-left:19px; font-weight:900">isNan</span> &mdash; Returns true if equal to 0/0.</div>
<div class="docslot" id="isInfinite"><span style="padding-left:19px; font-weight:900">isInfinite</span> &mdash; Returns true if denominator is 0 and numerator is not.</div>
<div class="docslot" id="isValid"><span style="padding-left:19px; font-weight:900">isValid</span> &mdash; Returns true if safe, finite and not NaN.</div>
<div class="docslot" id="checkOverflow"><span style="padding-left:19px; font-weight:900">checkOverflow</span> &mdash; Same as isSafe(), but throws an error.</div>
<div class="docslot" id="checkOverflowOn"><span style="padding-left:19px; font-weight:900">checkOverflowOn</span> &mdash; Force validity check for overflows.</div>
<div class="docslot" id="checkOverflowOff"><span style="padding-left:19px; font-weight:900">checkOverflowOff</span> &mdash; Turn off overflow validity checks.</div>
<div class="docslot" id="toFloat"><span style="padding-left:19px; font-weight:900">toFloat</span> &mdash; Alias for valueOf method.</div>
<div class="docslot" id="toNumber"><span style="padding-left:19px; font-weight:900">toNumber</span> &mdash; Alias for valueOf method.</div>
<div class="docslot" id="valueOf"><span style="padding-left:19px; font-weight:900">valueOf</span> &mdash; Return a floating-point copy of the rational number.</div>
<div class="docslot" id="toString"><span style="padding-left:19px; font-weight:900">toString</span> &mdash; Convert to a string in the form "n/d".</div>
<div class="docslot" id="toStringMixed"><span style="padding-left:19px; font-weight:900">toStringMixed</span> &mdash; Return a string as a mixed fraction.</div>
<div class="docslot" id="toJSON"><span style="padding-left:19px; font-weight:900">toJSON</span> &mdash; Create a JSON string.</div>
<div class="docslot" id="toFloatJSON"><span style="padding-left:19px; font-weight:900">toFloatJSON</span> &mdash; Create a float/fractional remainder JSON string.</div>
<div class="docslot" id="toFloatArray"><span style="padding-left:19px; font-weight:900">toFloatArray</span> &mdash; Create a float/fractional remainder Array.</div>
<div class="docslot" id="fromString"><span style="padding-left:19px; font-weight:900">fromString</span> &mdash; Read number from string.</div>
<div class="docslot" id="fromStringNoReduce"><span style="padding-left:19px; font-weight:900">fromStringNoReduce</span> &mdash; Read number from string without reducing.</div>
<div class="docslot" id="parseString"><span style="padding-left:19px; font-weight:900">parseString</span> &mdash; same as fromString(), but returns a new RationalNumber rather than changing current object.</div>
<div class="docslot" id="clone"><span style="padding-left:19px; font-weight:900">clone</span> &mdash; Make a new copy of the RationalNumber.</div>
<div class="docslot" id="copy"><span style="padding-left:19px; font-weight:900">copy</span> &mdash; Copy internal contents from another RationalNumber.</div>
<div class="docslot" id="isEqual"><span style="padding-left:19px; font-weight:900">isEqual</span> &mdash; returns true if the sign, numerator and denominator are the same as another rational number.</div>
<div class="docslot" id="isPositive"><span style="padding-left:19px; font-weight:900">isPositive</span> &mdash; Returns true if larger than 0.</div>
<div class="docslot" id="isNegative"><span style="padding-left:19px; font-weight:900">isNegative</span> &mdash; Returns true if smaller than 0.</div>
<div class="docslot" id="isInteger"><span style="padding-left:19px; font-weight:900">isInteger</span> &mdash; Returns true if denominator is 1.</div>

